<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<form method="POST" enctype="multipart/form-data">
    {%csrf_token%}
<table border="2">
    <tr>
        <td>Comment</td>
        <td><input type="text" name="txt_comment" id="txt_comment"></td>
    </tr>
    <tr>
        <td colspan="2" align="center"><input type="submit" value="Submit"></td>
    </tr>
</table>
<table  border="1" align="center">
    <tr>

        <th>SIno</th> 
        <th>Comment</th>
        <th>Action</th>
    </tr>
    {%  for i in comment %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{i.post_comment}}</td>
        <td><a href="{% url 'Pet:delcomment' i.id i.post.id %}">Delete</a></td>
    </tr>
    {% endfor %}
    </table>
</form>
</body>
</html>