<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        {%csrf_token%}
    <table border="2" align="center">
        <tr>
            <th>SIno</th>
            <th>Name</th>
            <th>Profile</th>
            <th>Post Description</th>
            <th>Photo</th>
            <th>Action</th>
            
        </tr>
        {%  for i in post %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.pet.pet_name}}</td>
            <td><img src="{{i.pet.pet_photo.url}}" width="100px" height="100px"/></td>
            <td>{{i.post_description}}</td>
            <td><img src="{{i.post_photo.url}}" width="100px" height="100px"/></td>
            <td> <a href="{% url 'Pet:comment' i.id %}">Comment</a> | <a href="{% url 'Pet:like' i.id %}">Like</a></td>
        </tr>
        {% endfor %}
    </table>
</form>
        
</body>
</html>